name: Publish Python package

on:
  workflow_dispatch:
#  push:
#    branches:
#      - main
#      - master


jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install build backend
        run: pip install build twine

      - name: Build package
        run: python -m build

      - name: Upload to PyPI
        env:
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          twine upload --username __token__ --password "$TWINE_PASSWORD" dist/*
